body {
    background-color: white;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link{
            color: #071c4d;

            &.active {
                font-weight: bold;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -16px !important;
    margin-bottom: -29px !important;
    margin-right: -33px !important;

    height: 66px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: white;

    &:hover {
        background-color: #1E3771;
        color: white;
    }
}

// Header
header {
    padding: 180px 0 165px;
    margin-top: -70px !important;
    background-image: url("../assets/images/header-background.jpg");
    background-size: cover;

    h1, p {
        color: white;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: white;
        
        &:hover {
            background-color: #ff770e;
            color: white;
        }
    }
}

// Main
// Statistics
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        padding-left: 40px;
        background-color: white;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// Popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;
    
        h2, p {
            color: white;
        }
    
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
    }
}

// Popular Content
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: rgb(188, 188, 188);
            color: white;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
        }

        .travel-location {
            font-size: 26px;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #FF9E53;
                color: white;

                &:hover {
                    background-color: #ff770e;
                    color: white;
                }
            }
        }
    }
}

.section-networks {
    background-color: white;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(white 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
    
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        
        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 180px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: white;
        
        &:hover {
            background-color: #ff770e;
            color: white;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;
        
        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

.section-footer {
    a {
        color: #071c4d;
    }
}

.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -68px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071c4d;

        }
    }
}